body {
    margin: 0;
    padding: 0;
    color: #fcfbfc;
    background: #1E1E1E ;
    font-family: sans-serif;
}

.last_page {
    display: flex;
    flex-direction:row;
    flex: 1;
    gap: 20px;  
    height: 100%;
}
/* 
.last_page .message{
    background: red;
} */

.last_page .message .titre {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: start;
    margin-left: 20px;
}

.last_page .message .titre span {
    border-bottom: 3px solid #99FFCC;
}

.last_page .message .titre p {
    font-size: 16px;
    color: #6c757d;
    opacity: 80%;
}

.last_page .thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: blue; */
    align-items: center;
    gap: 50px;
    padding: 0 20px 0 20px;
    color: #1E1E1E;
    background: #99FFCC;
    border-radius: 50px 0 0 50px;
    width: 50%;
}

.last_page .message .contact-from {
    width: 100%;
    /* background: green; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding-left: 20px; */
}

.last_page .message .contact-from .ajout{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* width: 100%; */
    padding: 0 20px;
    
}

.last_page .message .contact-from input,textarea {
    background: none;
    border: 0;
    padding: 20px 30px;
    border-radius: 20px;
    outline: 0;
    border: 1px solid rgba(153, 255, 204, 0.3);
    transition: .3s ease;
}

.last_page .message .contact-from input:hover{
    border: 1px solid rgba(153, 255, 204, 1);
}

.last_page .message .contact-from textarea:hover{
    border: 1px solid rgba(153, 255, 204, 1);
}

.last_page .message .contact-from textarea,input::placeholder {
    color: gray;
    opacity: 60%;
}

.last_page .message .contact-from textarea,input:valid {
    color: white;
}

.last_page .message .contact-from textarea{
    min-height: 100px;
}

.last_page .message .contact-from .btn-send {
    display: flex;
    justify-content: center;
}

.last_page .message .contact-from .btn-send button {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.last_page .message .contact-from .btn-send button:hover {
    transform: scale(1.1);
}

.last_page .thanks .cv-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.last_page .thanks .cv-down .text-content p {
    color: gray;
}

.last_page .thanks .btn {
    width: auto;
    display: flex;
    justify-content: center;
    height: auto;
}

.last_page .thanks .btn button {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border: 1px solid #99FFCC;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.last_page .thanks .btn button:hover {
    border: 1px solid rgb(41, 37, 37);
    transform: scale(1.1);
}

button {
    background: white;
    border-radius: 20px;
    border: none;
}

/* responsive */
@media screen and (max-width:968px) {
    .last_page{
        display: block;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .last_page .thanks {
        width: 100%;
        border-radius: 50px 50px 0 0;
        padding: 0;
        height: 100vh;
    }
}
