body{
    margin: 0;
    padding: 0;
    background: #1E1E1E;
    color: #fcfbfc;
    font-family: sans-serif;
}
.card{
    display: flex;
    justify-content: center;
    margin: 10px;
    height: auto;   
}
.card .card-f{
    max-width: 900px;
    border: 1px solid  rgba(153, 255, 204, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card .card-f .img_box{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    /* border: 1px solid black; */
}
.card .card-f:hover ::after{
    opacity: 0.5;
}

.card .card-f .img_box img {
    max-width: 100%;
    height: auto;
    transition: 1s;
    object-fit: cover;
    z-index: -1;
}
.card .card-f:hover img{
    transform: scale(1.1);
    opacity: 0.5;
}
.card .text-content {
    text-align: center;
    padding: 20px 10px;   
}
.card .text-content h3 span{
    border-bottom: 4px solid #99FFCC;
}
.card .text-content a {
    text-decoration: none;
    color: #1E1E1E;
    padding: 10px 40px;
    background:  #99FFCC;
    border-radius: 25px;
    border: 1px solid #99FFCC;
    transition: 0.3s;
}
.card .text-content a:hover{
    transform: scale(1.1);
    background: #1E1E1E;
    color: #99FFCC;
}